.demo-card-square.mdl-card {
  width: 320px;
  height: 480px;
  margin: 10em auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
          url('reddit_alien.png') center no-repeat #46B6AC;
  background-size: 300px 300px;
}

.mdl-card__actions {
  width: 90%;
  margin: auto;
}